*{
    padding: 0;
    margin: 0;
}

header{
    font-weight: bolder;
    background-color: #fdfdfd;
    width: 100%;
    font-family:'Times New Roman', Times, serif ;
}

header nav{
    display: flex;
}

img{
    padding-left: 10px;
}

hr{
    border: 1px solid black;
}

header nav a {
    padding-top: 27px;
    padding-left: 22px;
    font-size: 21px;
    display: inline-block;
    position: relative;
    color: #000000;
    text-decoration: none;
    
}

a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .5s;
}

a:hover:after {
    width: 100%;
    background: #000000;
}

.box{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 45px;
    padding-left: 500px;
}

label{
    font-size: 18px;
}


form{
    padding-top: 20px;
}

form p{
    font-size: 18px;
    font-weight: bold;
}

.form-box{
    padding: 15px;
    border: 2px solid;
    border-radius: 6px;
    width: 320px;
    padding-top: 2px;
    padding-bottom: 15px;
}

input{
    padding: 5px;
    width: 300px;
}

.box form textarea {
    resize: none;
    width: 310px;
    height: 60px;
}

#submit{
    font-size: 15.5px;
    width: 110px;
    border: none;
    background-color: black;
    border-radius: 4px;
    color: white;
}

#submit:hover{
    cursor: pointer;
    opacity: 0.2;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
}

.box-submit{
    padding-top: 15px;
    padding-left: 96px;
}

@media only screen and (max-width : 420px){
    .box{
        padding-left: 98px;
    }

    input{
        padding: 5px;
        width: 180px;
    }

    .box-submit{
        padding-top: 15px;
        padding-left: 30px;
    }
}

@media only screen and (max-width : 420px){
    .box{
        padding-left: 80px;
    }
}